@import url( 'https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Bangers|Pathway+Gothic+One|Quattrocento+Sans');
@import url("hover-min.css");
// home page styling
.wrapper{
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("http://cf067b.medialib.glogster.com/media/78/78a7c2f73b5427ebe08f25df587e79d7b9b2ff6bbc62867af29faafd7069ad64/0110-0902-1214-0208-bunch-cartoon-flowers-with-happy-faces.jpg");
background-size: cover;
height:120vh;
width:100%;
font-family: 'Bangers', cursive;
position:absolute;

}
header h1{
  color:#FE5AED;
  font-size: 5rem;
  text-align: center;
}
header h2{
  font-size: 3rem;
  text-align: center;

}


.characters_select{
  margin-left: 25%;
}

.easy{
  display: inline-block;
  width:40%;
}
.hard{
  display: inline-block;
  width:40%;
}

.user img {
  width: 285px;
}

.easy p{
  position: relative;
    bottom: 47vh;
    right: 92%;
    font-size: 1.3rem;
    display: inline;
}

.hard p{
  position: relative;
    bottom: 47vh;
    left: 8%;
    font-size: 1.3rem;
    display: inline;
}

.hvr-grow:hover {
    transform: scale(1.1);
}

// Welcome page stylings
.welcome h1{
  font-size: 3em;
      text-align: center;
      margin: 2vh 16%;
}

.welcome p{
  font-size: 2.5rem;
  text-align: center;
}

.welcome ol{
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0 28%;
  font-size: 1.5rem;
}

#beginButton{
  background-color: #FE5AED;
  padding: 9px 30px;
  font-size: 2.3rem;
  margin-left: 31%;
}

#homeButton{
  background-color: #FE5AED;
padding: 9px 30px;
font-size: 2.3rem;
margin-left: 8%;
}

// battle stylings

.battle h1{
  color:#FE5AED;
  font-size: 5rem;
  text-align: center;
}


.battle .user{
  display: inline-block;
      width: 40%;
      margin-left: 5%;
      position: relative;
      bottom: 20vh;
}

.computer img{
  display: inline-block;
  width: 285px;
  float: right;
  position: relative;
  bottom: 148vh;
  margin-right: 3%;
}

.battle_icon_user{
  position: relative;
    bottom: 49vh;
    display: inline-block;
}

.battle_icon_user .img{
  width: 8%;
}
