@import url( 'https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Bangers|Pathway+Gothic+One|Quattrocento+Sans');
@import url("hover-min.css");
// home page styling
.wrapper{
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("http://cf067b.medialib.glogster.com/media/78/78a7c2f73b5427ebe08f25df587e79d7b9b2ff6bbc62867af29faafd7069ad64/0110-0902-1214-0208-bunch-cartoon-flowers-with-happy-faces.jpg");
background-size: cover;
height:120vh;
width:100%;
font-family: 'Bangers', cursive;
position:absolute;

}
header h1{
  color:#FE5AED;
  font-size: 5rem;
  text-align: center;
  margin-bottom: -25px;
}
header h2{
  font-size: 3rem;
  text-align: center;

}


.characters_select{
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.easy{
  display: inline-block;
  width: 50%;
}
.hard{
  display: inline-block;
  width: 50%;
}
#user-icons img, #computer_icons_all img{
  width: 27%;
border: black solid 2px;
height: 13vh;
    margin-right: 3%;
}

.user img {
  width: 270px;
}

.easy p{
  position: absolute;
  bottom: 66vh;
  right: 79%;
  font-size: 1.3rem;
  display: inline;
}


.hard p{
  position: absolute;
  bottom: 66vh;
  right: 10%;
  font-size: 1.3rem;
  display: inline;
}

.hvr-grow:hover {
    transform: scale(1.1);
}

// Welcome page stylings
.welcome h1{
  font-size: 3em;
      text-align: center;
      margin: 2vh 16%;
}

.welcome p{
  font-size: 2.5rem;
  text-align: center;
}

.welcome ol{
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0 28%;
  font-size: 1.5rem;
}

#beginButton{
  background-color: #FE5AED;
  padding: 9px 30px;
  font-size: 2.3rem;
  margin-left: 31%;
}

#homeButton{
  background-color: #FE5AED;
padding: 9px 30px;
font-size: 2.3rem;
margin-left: 8%;
}

// battle stylings
.battle {
  height: 550px;
}

.battle h1{
  color:#FE5AED;
  font-size: 5rem;
  text-align: center;
}


.battle .user{
  display: inline-block;
      width: 32%;
      float: left;
          margin-left: 2%;
}

.battle .computer {
  display: inline-block;
  width: 32%;
  float: left;
  margin-right: 2%;
}

.computer::after {
  content: '';
  clear: both;
  display: block;
}

.arena {
  width: 32%;
  display: inline-block;
  float: left;
}

.computer img{
  display: inline-block;
  width: 100%;
  margin-right: 3%;
}

.battle_icon_user{
    width: 30%;
    display: inline-block;
    margin-left: 2%;
}

.icon-container {
  display:block;
}

#go_button{
  background-color: #FE5AED;
  width: 100px;
  margin: 0 auto;
  display: block;
  font-size: 4.3rem;
  &:focus {
    outline: 0;
  }
}

#computer_icons_all{
  width: 30%;
  float: right;
  display: inline-block;
  }

<<<<<<< HEAD

.end h1{
  font-size: 10rem;
    text-align: center;
=======
.end {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#earth-image {
  width: 60%;
  margin: 0 auto;
}

#user-icons img.selected-icon {
  border: 5px solid #FE5AED;
}

#computer_icons_all img.selected-icon {
  border: 5px solid #FE5AED;
}

.scoreboard {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  color: #FE5AED;
  font-size: 6rem;
  text-align: center;
  line-height: 6.5rem;
}

#homeButton.battle-page {
  color: #000;
  margin: 10px 0 1% 0;
  padding: 5px;
  font-size: 2rem;
  background: transparent;
  border: 0;
>>>>>>> 2a57a16c4d55b1b753af0bc9367e1469c813acd8
}
